@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow:
        0 0 0 0.1rem white,
        0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0c0d0d;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.w-max {
    width: max-content;
}

.navbar {
    background-color: rgb(13 13 13 / 0.95);
    border-bottom: 1px solid rgb(255 255 255 / 0.1);
}

.navbar a:hover {
    color: hsl(0, 0%, 80%) !important;
}

.logo-img {
    filter: brightness(0) saturate(100%) invert(85%) sepia(3%) saturate(0%)
        hue-rotate(200deg) brightness(95%) contrast(90%);
}

.logo-img-darker {
    filter: brightness(0) saturate(100%) invert(85%) sepia(3%) saturate(0%)
        hue-rotate(200deg) brightness(55%) contrast(90%);
}

.jb-mono {
    font-family: 'JetBrains Mono';
}

.inter {
    font-family: 'Inter';
}

.lb-serif {
    font-family: 'Libre Baskerville';
}

.text-grey {
    color: hsla(240, 4%, 46%, 1);
}

.text-darkgrey {
    color: hsla(240, 4%, 26%, 1);
}

.fs-4 {
    font-size: 20px !important;
}

.fs-5 {
    font-size: 16px !important;
}

.fs-6 {
    font-size: 12px !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-bolder {
    font-weight: 900 !important;
}

.footer {
    border-top: 1px solid rgb(255 255 255 / 0.1);
}

#warning {
    background-color: hsla(360, 100%, 50%, 5%);
    padding: 5px 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 1px solid hsla(360, 100%, 50%, 20%);
}

.footer {
    position: relative !important;
}

.footer {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.footer::before {
    content: '';
    position: absolute;
    inset: 0;

    background: url('../assets/foundation-light.png') center / contain no-repeat;

    opacity: 0.025;
    filter: blur(6px);

    z-index: 1;
}

.footer > * {
    z-index: 2;
}

#restricted-access {
    width: 400px;
    position: relative;
}

#restricted-access div {
    position: absolute;
    inset: 0;
    top: 5px;
}

#restricted-access span {
    background-color: #0d0d0d;
    padding: 0px 10px;
}

#filter-container {
    width: 100%;
    border-top: 1px solid rgb(255 255 255 / 0.1);
    border-bottom: 1px solid rgb(255 255 255 / 0.1);
    background-color: hsla(240, 6%, 10%, 0.2);
}

.protocol-card {
    background-color: rgb(24 24 27);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 0.1);
}

#filter-container input {
    background-color: rgb(24 24 27 / 0.4);
    border: 0;
    color: white;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid rgb(255 255 255 / 0.1);
}

#filter-container input::placeholder {
    color: hsla(240, 4%, 26%, 1);
}

#filter-container input:focus {
    border-bottom-color: red;
}

#filter-container select {
    background-color: rgb(39 39 42);
    padding: 10px;
    color: white;
    border: 1px solid rgb(255 255 255 / 0.1);
    border-radius: 10px;
}

#filter-container select:hover {
    background-color: rgb(49 49 52);
    color: white;
    border: 1px solid rgb(255 255 255 / 0.1);
}

#filter-container select:focus {
    border: 2px solid red;
}

.card {
    background-color: #0e0f0f;
    border-radius: 10px;
    border: 2px solid rgb(255 255 255 / 0.1);
}

.card img {
    height: 175px;
    object-fit: cover;
    width: 100%;
}

.file-num {
    position: absolute;
    background-color: rgba(0, 0, 0, 80%);
    border: 2px solid rgb(255 255 255 / 0.4);
    border-radius: 10px;
    right: 15px;
    top: 15px;
}

.safe,
.euclid,
.keter {
    border-radius: 10px;
    letter-spacing: 3px;
}

.safe {
    color: var(--bs-success);
    background-color: rgba(var(--bs-success-rgb), 10%);
    border: 1px solid var(--bs-success);
}

.euclid {
    color: var(--bs-warning);
    background-color: rgba(var(--bs-warning-rgb), 10%);
    border: 1px solid var(--bs-warning);
}

.keter {
    color: var(--bs-danger);
    background-color: rgba(var(--bs-danger-rgb), 10%);
    border: 1px solid var(--bs-danger);
}
